<!DOCTYPE html>
<html>
<head>
    <title>{{- .title -}}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
<a href="http://library.caltech.edu"><img src="assets/liblogo.gif" alt="Caltech Library logo"></a>
</header>

<section>
<h1>{{ .title }}</h1>
<h2>{{ .name }}</h2>
{{with .orcid}}ORCID: {{- . }}{{end}}

<ul>
{{range $orcidWork := (index .works "orcid-profile" "orcid-activities" "orcid-works" "orcid-work") }}
    <li>
        {{- if (index $orcidWork "url") -}}
        <a href="{{- with (index $orcidWork "url" "value")}}{{ . }}{{end -}}">{{with (index $orcidWork "work-title" "title" "value")}}{{ . }}{{end}}</a>
        {{else}}
        {{- with (index $orcidWork "work-title" "title" "value")}}{{ . }}{{end -}}
        {{- end -}}
        {{with (index $orcidWork "journal-title")}}, {{ .value }}{{end -}}
        {{with (index $orcidWork "publication-date" "year" "value")}}({{ . }}){{end -}}
        {{- if (index $orcidWork "work-contributors") -}}; 
            {{- range $i, $contributor := (index $orcidWork "work-contributors" "contributor") -}}
                {{- if gt $i 0}} and {{end -}}
                {{with (index $contributor "credit-name" "value")}} {{ . }}{{end}}
            {{- end -}}
        {{end -}}
    </li>
{{end}}
</ul>

</section>

<footer>
<span><h1><A href="http://caltech.edu">Caltech</a></h1></span>
<span>&copy; 2015 - 2016 <a href="http://library.caltech.edu/CLS_Copyright.htm">Caltech library</a></span>
<address>1200 E California Blvd, Mail Code 1-32, Pasadena, CA 91125-3200</address> 
<span>Phone: <a href="tel:+1-626-395-3405">(626)395-3405</a></span>
<span><a href="mailto:library@caltech.edu">Email Us</a></span>
<a class="cl-hide" href="sitemap.xml">Site Map</a>
</footer>
</body>
</html>
